@use "../variables" as *;

.hero-wrap {
    max-width: 100%;
    background-color: $red-color;
    color: $fair-color;   
}

.hero-header-wrap {
    margin: 0 auto -60px;
    padding-top: 56px;
    position: relative;
}

.hero-header-mobile,
.hero-header {
    position: relative;
    z-index: 99;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: $text-shadow;
}

.hero-header-mobile {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

.hero-header {
    display: none;
}

.hero-header-img-strawberries {
    position: absolute;
    top: 56px;
    right: 0;
    z-index: 9;
    width: 56px;
    height: 56px;
    filter: blur(2px); // I changed from 4px to 2px, beacause it looks more similar to the design
}

@media screen and (min-width: $tablet) {
    .hero-header {
        display: block;
    }
    
    .hero-header-mobile{
        display: none;
    }

    .hero-header-img-strawberries {
        top: 50px;
        right: 40px;
        width: 108px;
        height: 108px;
        filter: blur(4px); // I changed from 8px to 4px, beacause it looks more similar to the design
    }
}

@media screen and (min-width: $tablet) and (max-width: $desktop) {
    .hero-header {
        font-size: 3.125rem;
        line-height: 3.375rem;
    }
}

@media screen and (min-width: $desktop) {
    .hero-header {
        font-size: 4rem;
        line-height: 4rem;
    }

    .hero-header-img-strawberries {
        top: 40px;
        right: 220px;
        width: 120px;
        height: 120px;
    }
}