@use "variables" as *;

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: $main-font;
    font-size: 0.875rem;
    letter-spacing: -0.04rem;

}

main {
    color: $fair-color;
    background-color: $red-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    color: currentColor;
    line-height: inherit;
    background-color: transparent;
}

input,
textarea {
    font-family: inherit;
    line-height: inherit;
}

.container {
    max-width: 767px;
    margin: 0 auto;
    padding: 0 20px;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 99999;
}

.no-scroll {
    overflow: hidden; 
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        max-width: 1279px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 32px;
    }
}
