@use "variables" as *;

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: $main-font;
    font-size: 0.875rem;
    letter-spacing: -4%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
    color: currentColor;
    line-height: inherit;
    background-color: transparent;
}

input,
textarea {
    font-family: inherit;
    line-height: inherit;
}

.container {
    max-width: 767px;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .container {
        max-width: 1279px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
