// Project colors
$fair-color: #fff;
$dark-color: #000;
$red-color: #ae1332;
$green-color: #a4cb66;
$yellow-color: #f5ce13;

// Project fonts
$main-font: 'DM Sans', sans-serif;

// Project breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1280px;

// Project shadows
$text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);