<footer class="footer">
  <div class="container footer-wrap">
    <div class="footer-image-logo-wrap">
      <picture class="footer-girl-image">
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/footer-girl-tablet-desktop.webp    1x,
            ./images/footer-girl-tablet-desktop@2x.webp 2x
          "
        />
        <img
          srcset="
            ./images/footer-girl-mobile.webp    1x,
            ./images/footer-girl-mobile@2x.webp 2x
          "
          src="./images/footer-girl-mobile.webp"
          alt="young energetic red haired woman white t-shirt holding tasty bananas, pink background"
        />
      </picture>
      <div class="logo-wrap">
        <svg class="icon icon-logo" id="logo" width="16" height="16">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <a href="./index.html" class="logo">fresh harvest box</a>
      </div>
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#how-it-works" class="nav-link">how it works</a>
        </li>
        <li class="nav-item">
          <a href="#fruits" class="nav-link">fruits</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link">contacts</a>
        </li>
      </ul>
    </nav>
    <ul class="social-media-wrap">
      <li class="social-media-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="social-media-link"
        >
          <svg class="icon-social-footer">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="https://www.instagram.com/" class="social-media-link">
          <svg class="icon-social-footer">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a href="https://yputube.com/" class="social-media-link">
          <svg class="icon-social-footer">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <address class="footer-address-wrap">
      <a href="tel:+380 (68) 443-94-26" class="footer-phone"
        >+380 (68) 443-94-26"></a
      >
      <a
        href="https://maps.app.goo.gl/E3JK2sMShSKZR6GN8"
        target="_blank"
        class="footer-address"
        >1678 S. Pioneer Road<br />Salt Lake City UT<br />84104</a
      >
    </address>
  </div>
</footer>
