<section class="fruits-section" id="fruits">
  <div class="container">
    <div class="fruits-header-wrap">
      <h2 class="fruits-header">organic fruits</h2>
      <p class="fruits-text">
        Our organic fruits are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible. We offer a wide selection of organic fruits
        grown without the use of harmful pesticides or chemicals.
      </p>
    </div>
    <ul class="fruits-cards-list">
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">strawberry</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh red strawberries"
            srcset="
              ./images/fruits-strawberry.webp    1x,
              ./images/fruits-strawberry@2x.webp 2x
            "
            src="./images/fruits-strawberry.webp"
          />
          <p class="fruits-card-price-cta">100 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">banana</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="a bunch of fresh bananas"
            srcset="
              ./images/fruits-banana.webp    1x,
              ./images/fruits-banana@2x.webp 2x
            "
            src="./images/fruits-banana.webp"
          />
          <p class="fruits-card-price-cta">80 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">watermelon</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh tropical watermelon"
            srcset="
              ./images/fruits-watermelon.webp    1x,
              ./images/fruits-watermelon@2x.webp 2x
            "
            src="./images/fruits-watermelon.webp"
          />
          <p class="fruits-card-price-cta">40 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">lime</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh limes"
            srcset="
              ./images/fruits-lime.webp    1x,
              ./images/fruits-lime@2x.webp 2x
            "
            src="./images/fruits-lime.webp"
          />
          <p class="fruits-card-price-cta">60 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">apple</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh apples"
            srcset="
              ./images/fruits-apple.webp    1x,
              ./images/fruits-apple@2x.webp 2x
            "
            src="./images/fruits-apple.webp"
          />
          <p class="fruits-card-price-cta">50 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">peach</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh peaches"
            srcset="
              ./images/fruits-peach.webp    1x,
              ./images/fruits-peach@2x.webp 2x
            "
            src="./images/fruits-peach.webp"
          />
          <p class="fruits-card-price-cta">80 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">plums</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh plums"
            srcset="
              ./images/fruits-plums.webp    1x,
              ./images/fruits-plums@2x.webp 2x
            "
            src="./images/fruits-plums.webp"
          />
          <p class="fruits-card-price-cta">40 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">orange</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh orange"
            srcset="
              ./images/fruits-orange.webp    1x,
              ./images/fruits-orange@2x.webp 2x
            "
            src="./images/fruits-orange.webp"
          />
          <p class="fruits-card-price-cta">60 UAH / kg</p>
        </div>
      </li>
      <li class="fruits-card-item">
        <div class="fruits-card-item-wrap">
          <h3 class="fruits-card-header">kiwi</h3>
          <p class="fruits-card-description">plant</p>
          <img
            class="fruits-card-img"
            alt="fresh kiwis"
            srcset="
              ./images/fruits-kiwi.webp    1x,
              ./images/fruits-kiwi@2x.webp 2x
            "
            src="./images/fruits-kiwi.webp"
          />
          <p class="fruits-card-price-cta">90 UAH / kg</p>
        </div>
      </li>
    </ul>
    <button class="fruits-order-button" type="button">
      <svg class="fruits-order-arrow-icon" width="14" height="14">
        <use href="./images/sprite.svg#icon-arrow"></use>
      </svg>
      <span class="fruits-order-button-text">order</span>
    </button>
  </div>
</section>
