<section>
  <div class="hero-wrap container">
    <div class="hero-header-wrap">
      <h1 class="hero-header">
        <span class="hero-header-mobile"
          >fresh harvest box<br />is your one&#8209;stop place<br />for a
          delicious fruit<br />basket</span
        >
        <span class="hero-header-tablet-desktop"
          >fresh harvest box<br />is your one&#8209;stop place for<br />a
          delicious fruit basket</span
        >
      </h1>

      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero-strawberries-desktop.webp    1x,
            ./images/hero-strawberries-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-strawberries-tablet.webp    1x,
            ./images/hero-strawberries-tablet@2x.webp 2x
          "
        />
        <img
          class="hero-header-img-strawberries"
          alt="blurry image of fresh red strawberries"
          srcset="
            ./images/hero-strawberries-mobile.webp    1x,
            ./images/hero-strawberries-mobile@2x.webp 2x
          "
          src="./images/hero-strawberries-mobile.webp"
        />
      </picture>
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero-bananas-desktop.webp    1x,
            ./images/hero-bananas-desktop@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/hero-bananas-tablet.webp    1x,
            ./images/hero-bananas-tablet@2x.webp 2x
          "
        />
        <img
          class="hero-header-img-bananas"
          alt="blurry image of fresh yellow bananas"
          srcset="
            ./images/hero-bananas-mobile.webp    1x,
            ./images/hero-bananas-mobile@2x.webp 2x
          "
          src="./images/hero-bananas-mobile.webp"
        />
      </picture>
      <div class="hero-heder-girl-img-wrap">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/hero-girl-tablet-desktop.webp    1x,
              ./images/hero-girl-tablet-desktop@2x.webp 2x
            "
          />
          <img
            class="hero-header-img-girl"
            alt="young energetic red haired woman white t-shirt holding tasty oranges, pink background"
            srcset="
              ./images/hero-girl-mobile.webp    1x,
              ./images/hero-girl-mobile@2x.webp 2x
            "
            src="./images/hero-girl-mobile.webp"
          />
        </picture>

        <div class="hero-girl-vector-frame-wrap">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/hero-girl-frame-tablet-desktop.webp    1x,
                ./images/hero-girl-frame-tablet-desktop@2x.webp 2x
              "
            />
            <img
              class="hero-girl-frame"
              alt=""
              srcset="
                ./images/hero-girl-frame-mobile.webp    1x,
                ./images/hero-girl-frame-mobile@2x.webp 2x
              "
              src="./images/hero-girl-frame-mobile.webp"
            />
          </picture>
        </div>
        <button type="button" class="hero-shop-button">
          <a href="#fruits">shop now</a>
        </button>
      </div>
    </div>
    <div>
      <p>Temp element</p>
    </div>
  </div>
</section>
