<div class="backdrop is-hidden" id="thank-you">
  <div class="thank-you-modal">
    <button
      type="button"
      class="button button-close"
      id="close-thank-you-modal"
    >
      <svg class="icon icon-close" id="close">
        <use href="./src/images/sprite.svg#icon-close-white"></use>
      </svg>
    </button>
    <div>
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="
            ./src/images/thank-you-raspberry-tablet-desktop.webp    1x,
            ./src/images/thank-you-raspberry-tablet-desktop@2x.webp 2x
          "
        />
        <img
          srcset="
            ./src/images/thank-you-raspberry-mobile.webp    1x,
            ./src/images/thank-you-raspberry-mobile@2x.webp 2x
          "
          src="./src/images/thank-you-raspberry-mobile.webp"
          class="thank-you-modal-image"
          alt="fresh raspberries"
        />
      </picture>
    </div>
    <div class="thank-you-modal-text-wrap">
      <h2 class="thank-you-modal-header">thank you</h2>
      <p class="thank-you-modal-text">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to your
        doorstep. We appreciate your business and look forward to providing you
        with the best possible experience!
      </p>
    </div>
  </div>
</div>
